@model List<string>

<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(../../Areas/Admin/Libraries/images/@Model[0]);">
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(../../Areas/Admin/Libraries/images/@Model[1]);">
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(../../Areas/Admin/Libraries/images/@Model[2]);">
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(../../Areas/Admin/Libraries/images/@Model[3]);">
                </a>
            </div>
        </div>
    </div>
</section>
