@model List<string>

@{
    ViewBag.Title = "Home Page";
}


<table>
    <tr>
        <td>Value</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>