@model List<string>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderAction("Banner", "Home");
    Html.RenderAction("Info", "Home");
    Html.RenderAction("Welcome", "Home");
    Html.RenderAction("Service", "Home");
    Html.RenderAction("FoodCategory", "Home");
}

<section class="ftco-section">
    @{
        Html.RenderAction("HotMenu", "Home");
        Html.RenderAction("Menu", "Home");
    }
</section>

@{
    Html.RenderAction("Image", "Home");
    Html.RenderAction("SynthesizeInfo", "Home");
}

<div id="fb-root"></div>

@section scripts{
    <script src="~/assets/js/shareOnFacebook.js"></script>
}