
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="padding: 200px 0px 0px 250px">Oops 404 :( Trang không tồn tại</h1>
            <a href="/" style="padding: 200px 0px 0px 500px">Quay lại</a>
        </div>
    </div>
</div>

