
@model List<ViewModels.DesignVM>

@{
    ViewBag.Title = "Image";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    @ViewBag.Title
}

@Html.ActionLink("Thêm mới", "ImageCreate")

<table class="table">
    <tr>
        <th>Hình ảnh 1</th>
        <th>Hình ảnh 2</th>
        <th>Hình ảnh 3</th>
        <th>Hình ảnh 4</th>
        <th>Hình ảnh 5</th>
        <th>Hình ảnh 6</th>
        <th>Hình ảnh 7</th>
        <th>Hình ảnh 8</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @foreach (var it in item.Documents)
            {
                <td>
                    <img src="~/Areas/Admin/Libraries/images/@it.FileName" style="width: 300px; height: auto">
                </td>
            }
            @if (item.Status == Common.CommonStatus.Active)
            {
                <td>
                    <span>Đang áp dụng</span>
                </td>
            }
            else
            {
                <td>
                    <button type="button" data-id="@item.Id" class="btn btn-success set-active">Áp dụng</button>
                </td>
            }
        </tr>
    }
</table>

@section scripts{
    <script src="~/Areas/Admin/Libraries/js/image.js"></script>
}