@model  PagedList.IPagedList<ViewModels.FoodCategoryVM>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table">
    <tr>
        <td>

        </td>
    </tr>
</table>

